<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- sidebar @s -->
        <div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
          <app-app-sidebar [isAdmin]="isAdmin"></app-app-sidebar>
        </div>
        <!-- sidebar @e -->

        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @s -->
            <div class="nk-header nk-header-fixed is-light">
              <app-app-header [myProfile]="myProfile" [isAdmin]="isAdmin"></app-app-header>
            </div>
            <!-- main header @e -->

            <!-- content @s -->
            <div class="nk-content">
                <ng-container [ngSwitch]="content">
                    <ng-container *ngSwitchCase="'/profile'">
                        <app-userdata-profile [isAdmin]="isAdmin" [myProfile]="myProfile" ></app-userdata-profile>
                    </ng-container>
                    <ng-container *ngSwitchCase="'/user/dashboard'">
                        <app-userdata-dashboard  [isAdmin]="isAdmin"></app-userdata-dashboard>
                    </ng-container>
                    <ng-container *ngSwitchCase="'/user/list'">
                        <app-userdata-list  [isAdmin]="isAdmin"></app-userdata-list>
                    </ng-container>
                </ng-container>
            </div>
            <!-- content @e -->
            
            <!-- footer @s -->
            <div class="nk-footer" hidden>
            </div>
            <!-- footer @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</div>