<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Overview</h3>
                        <div class="nk-block-des text-soft">
                            <p>Welcome to User Dashboard</p>
                        </div>
                    </div><!-- .nk-block-head-content -->
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                        </div>
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
            <div class="nk-block">

                <div class="col-md-12 mb-4">
                    <div class="row g-gs">
                        <div class="col-sm-6 col-lg-4 col-xxl-3">
                            <div class="card card-bordered">
                                <div class="card-inner">
                                    <div class="card-title-group align-start mb-2">
                                        <div class="card-title">
                                            <h6 class="title">Total Users</h6>
                                        </div>
                                        <div class="card-tools">
                                            <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" title="Total active subscription"></em>
                                        </div>
                                    </div>
                                    <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                                        <div class="nk-sale-data">
                                            <span class="amount">{{totalUsers}}</span>
                                            <span class="sub-title"> </span>
                                        </div>
                                        <div class="nk-sales-ck">
                                            
                                        </div>
                                        <div class="user-avatar lg bg-success">
                                            <span><span>A</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->

                        <div class="col-sm-6 col-lg-4 col-xxl-3" *ngFor="let obj of genderDatas">
                            <div class="card card-bordered">
                                <div class="card-inner">
                                    <div class="card-title-group align-start mb-2">
                                        <div class="card-title">
                                            <h6 class="title">{{obj.gender}}</h6>
                                        </div>
                                        <div class="card-tools">
                                            <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" title="Daily Avg. subscription"></em>
                                        </div>
                                    </div>
                                    <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                                        <div class="nk-sale-data">
                                            <span class="amount">{{obj.count}}</span>
                                            <span class="sub-title">
                                                <span class="change up text-success">
                                                    {{obj.avgage | number: '1.1-1'}}
                                                </span>Age average
                                            </span>
                                        </div>
                                        <div class="nk-sales-ck">
                                            
                                        </div>
                                        <div class="user-avatar lg {{obj.gender === 'Male' ? 'bg-primary' : 'bg-danger'}}">
                                            <span><span>{{obj.gender.charAt(0)}}</span></span>
                                        </div>
    
                                        
                                    </div>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                    </div><!-- .row -->

                </div>

                <div class="row g-gs">

                    <div class="col-md-8">
                        <div class="card card-bordered h-100">
                            <div class="card-inner">
                                <div class="card-title-group align-start mb-3">
                                    <div class="card-title">
                                        <h6 class="title">Users by Age</h6>
                                    </div>
 
                                </div><!-- .card-title-group -->

                                <div class="nk-order-ovwg">
                                    <div class="row g-4 align-end" >
                                        <div class="col-md-12" style="min-height: 420px;">
                                            <div class="nk-order-ovwg-ck">
                                                <canvas class="order-overview-chart-" id="userAgeChart" height="420"></canvas>
                                            </div>
                                        </div><!-- .col -->
                                    </div>
                                </div><!-- .nk-order-ovwg -->
                            </div><!-- .card-inner -->
                        </div><!-- .card -->
                    </div><!-- .col -->

                    <div class="col-md-4">
                        <div class="card card-bordered h-100">
                            <div class="card-inner">
                                <div class="card-title-group align-start mb-5">
                                    <div class="card-title ">
                                        <h6 class="title">Users by Country</h6>
                                    </div>
                                </div>

                                <div class="analytics-map">
                                    <div class="vector-map" id="worldMap"></div>
                                    <table class="analytics-map-data-list">
                                        <tr class="analytics-map-data" *ngFor="let country of userMapData | slice:0:5 ; let i = index" >
                                            <td class="country">{{country.name}}</td>
                                            <td class="amount">{{country.count}}</td>
                                            <td class="percent">{{country.count * 100 / totalUsers | number : '1.1-1'}}%</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->

                    

                    
                    

                </div><!-- .row -->
            </div><!-- .nk-block -->
        </div>
    </div>
</div>