<!-- sidebar @s -->

<!-- sidebar @e -->

<div class="nk-sidebar-element nk-sidebar-head">
    <div class="nk-menu-trigger">
        <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
        <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
    </div>
    <div class="nk-sidebar-brand">
        <h4>USER DATA</h4>
    </div>
</div><!-- .nk-sidebar-element -->

<div class="nk-sidebar-element nk-sidebar-body">
    <div class="nk-sidebar-content">
        <div class="nk-sidebar-menu" data-simplebar>
            <ul class="nk-menu">
                <li class="nk-menu-heading">
                    <h6 class="overline-title text-primary-alt">User</h6>
                </li><!-- .nk-menu-item -->
                <li class="nk-menu-item">
                    <a href="/profile" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-user-list"></em></span>
                        <span class="nk-menu-text">My Profile</span>
                    </a>
                </li><!-- .nk-menu-item -->

                <ng-container *ngIf="isAdmin">
                    <li class="nk-menu-heading" >
                        <h6 class="overline-title text-primary-alt">Admin</h6>
                    </li><!-- .nk-menu-item -->
    
                    <li class="nk-menu-item" >
                        <a href="/user/dashboard" class="nk-menu-link ">
                            <span class="nk-menu-icon"><em class="icon ni ni-growth"></em></span>
                            <span class="nk-menu-text">User Dashboard</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    
                    <li class="nk-menu-item" >
                        <a href="/user/list" class="nk-menu-link ">
                            <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                            <span class="nk-menu-text">User Manage</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                </ng-container>
                
            </ul><!-- .nk-menu -->
        </div><!-- .nk-sidebar-menu -->
    </div><!-- .nk-sidebar-content -->
</div><!-- .nk-sidebar-element -->