<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- wrap @s -->
        <div class="nk-wrap nk-wrap-nosidebar">
            <!-- content @s -->
            <div class="nk-content ">
                <div class="nk-block nk-block-middle wide-lg auth-body">
                    <div class="brand-logo pb-4 text-center">
                        
                    </div>
                    <div class="card card-bordered">
                        <div class="card-inner card-inner-lg">
                            <div class="nk-block-head">
                                <div class="nk-block-head-content">
                                    <h4 class="nk-block-title">Register</h4>
                                    <div class="nk-block-des">
                                        <p>Create New Account</p>
                                    </div>
                                </div>
                            </div>
                            <form class="form-validate" (ngSubmit)="signup()" autocomplete="off">
                                <div class="row g-gs">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="fv-username">Username</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="fv-username" name="fv-username" 
                                                [(ngModel)]="data.username" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="fv-email">Email address</label>
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right">
                                                    <em class="icon ni ni-mail"></em>
                                                </div>
                                                <input type="text" class="form-control" id="fv-email" name="fv-email" 
                                                [(ngModel)]="data.email" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="fv-full-name">Full Name</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="fv-full-name" name="fv-full-name" 
                                                [(ngModel)]="data.fullname" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="fv-username">Employee Code</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="fv-empcode" name="fv-empcode" 
                                                [(ngModel)]="data.empcode" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="fv-phone">Gender</label>
                                            <div class="form-control-wrap">
                                                <ul class="custom-control-group">
                                                    <li>
                                                        <div class="custom-control custom-radio custom-control-pro no-control">
                                                            <input [(ngModel)]="data.gender" value="Male" type="radio" class="custom-control-input" name="fv-title" id="fv-male" required>
                                                            <label class="custom-control-label" for="fv-male">Male</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="custom-control custom-radio custom-control-pro no-control">
                                                            <input [(ngModel)]="data.gender" type="radio" value="Female" class="custom-control-input" name="fv-title" id="fv-female" required>
                                                            <label class="custom-control-label" for="fv-female">Female</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Birthday</label>
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right">
                                                    <em class="icon ni ni-calendar-alt"></em>
                                                </div>
                                                <!-- <input class="form-control" placeholder="mm/dd/yyyy" (click)="d.toggle()" name="fv-birthdate" 
                                                ngbDatepicker [(ngModel)]="birthday" #d="ngbDatepicker"> -->
                                                <input class="form-control" placeholder="" (click)="d.open()" name="fv-birthdate" ngbDatepicker [(ngModel)]="birthday" #d="ngbDatepicker" [minDate]="{year: 1960, month: 1, day: 1}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Country</label>
                                            <div class="form-control-wrap">
                                                <ng-select [(ngModel)]="data.country" name="fv-country" style="border-color: red !important;">
                                                    <ng-option *ngFor="let country of countrylist" [value]="country.code">{{country.name}}</ng-option>
                                                 </ng-select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="fv-username">Mobile Number</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="fv-mobile" name="fv-mobile" 
                                                [(ngModel)]="data.mobile" required>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="fv-password">Password</label>
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right">
                                                    <em class="icon ni ni-lock"></em>
                                                </div>
                                                <input type="password" class="form-control" id="fv-password" name="fv-password" 
                                                [(ngModel)]="data.password" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="fv-cpassword">Confirm Password</label>
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right">
                                                    <em class="icon ni ni-lock"></em>
                                                </div>
                                                <input type="password" class="form-control" id="fv-cpassword" name="fv-cpassword" 
                                                [(ngModel)]="this.cpassword" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group" *ngIf="signup_error !== ''">
                                            <div class="alert alert-danger alert-icon alert-dismissible">
                                                <em class="icon ni ni-alert-circle"></em> <strong>{{signup_error}}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-lg btn-primary">Save Informations</button>
                                            <div class="form-note-s2 text-left pt-4 ps-4 d-sm-inline"> Already have an account? <a href="/signin"><strong>Sign in instead</strong></a></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- wrap @e -->
        </div>
        <!-- content @e -->
    </div>
    <!-- main @e -->
</div>

<ng-template #modalData let-modal >
    <div class="modal-content">
        <div class="modal-body modal-body-lg text-center">
            <div class="nk-modal">
                <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-success"></em>
                <h4 class="nk-modal-title">Registration complete!</h4>
                <div class="nk-modal-action">
                    <button type="button" class="btn btn-lg btn-mw btn-primary" (click)="modal.close('Save click');goSignin()">Close</button>
                </div>
            </div>
        </div><!-- .modal-body -->
    </div>
</ng-template>


