<div class="container-fluid" *ngIf="isAdmin">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Users Lists</h3>
                        <div class="nk-block-des text-soft">
                            <p>You have {{searchParam===''?'total':'found'}} {{totalUsers}} users.</p>
                        </div>
                    </div><!-- .nk-block-head-content -->
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-3">
                                    
                                    <li>
                                        <button (click)="exportUserList()" class="btn btn-white btn-outline-light">
                                            <em class="icon ni ni-download-cloud"></em><span>Export</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .toggle-wrap -->
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
            <div class="nk-block">
                <div class="card card-bordered card-stretch">
                    <div class="card-inner-group">
                        <div class="card-inner position-relative card-tools-toggle">
                            <div class="card-title-group">
                                <div class="card-tools">
                                   
                                </div><!-- .card-tools -->
                                <div class="card-tools me-n1">
                                    <ul class="btn-toolbar gx-1">
                                        <li>
                                            <a href="#" class="btn btn-icon search-toggle toggle-search" data-target="search"><em class="icon ni ni-search"></em></a>
                                        </li><!-- li -->
                                        <li class="btn-toolbar-sep"></li><!-- li -->

                                        <li class="nk-block-tools-opt">
                                            <button (click)="triggerModal(modalCreate, {}, 'lg')" class="btn btn-icon btn-primary pe-3"><em class="icon ni ni-plus"></em>Add User</button>
                                        </li>

                                        <li class="nk-block-tools-opt">
                                            <button (click)="loadUserList()" class="btn btn-icon btn-white btn-outline-light pe-3 ms-1"><em class="icon ni ni-reload"></em>Refresh</button>
                                        </li>

                                        <li>
                                            <div class="toggle-wrap">
                                                <a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools"><em class="icon ni ni-menu-right"></em></a>
                                                <div class="toggle-content" data-content="cardTools">
                                                    <ul class="btn-toolbar gx-1">
                                                        <li class="toggle-close">
                                                            <a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools"><em class="icon ni ni-arrow-left"></em></a>
                                                        </li><!-- li -->
                                                    </ul><!-- .btn-toolbar -->
                                                </div><!-- .toggle-content -->
                                            </div><!-- .toggle-wrap -->
                                        </li><!-- li -->
                                    </ul><!-- .btn-toolbar -->
                                </div><!-- .card-tools -->
                            </div><!-- .card-title-group -->
                            <div class="card-search search-wrap" data-search="search">
                                <div class="card-body">
                                    <div class="search-content">
                                        <button (click)="clearSearch()" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></button>
                                        <input [(ngModel)]="searchParam" type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or email">
                                        <button (click)="searchUser(true)" class="search-submit btn btn-icon btn-primary pe-2"><em class="icon ni ni-search"></em> Find</button>
                                    </div>
                                </div>
                            </div><!-- .card-search -->
                        </div><!-- .card-inner -->
                        <div class="card-inner p-0">
                            <div class="nk-tb-list nk-tb-ulist">
                                <div class="nk-tb-item nk-tb-head">
                                    <div class="nk-tb-col"><span class="sub-text">User</span></div>
                                    <div class="nk-tb-col tb-col-mb"><span class="sub-text">Email</span></div>
                                    <div class="nk-tb-col tb-col-mb"><span class="sub-text">Employee Code</span></div>
                                    <div class="nk-tb-col tb-col-md"><span class="sub-text">Mobile Phone</span></div>
                                    <div class="nk-tb-col tb-col-lg"><span class="sub-text">Gender</span></div>
                                    <div class="nk-tb-col tb-col-lg"><span class="sub-text">Joined date</span></div>
                                    <div class="nk-tb-col tb-col-md"><span class="sub-text">Role</span></div>
                                    <div class="nk-tb-col tb-col-md text-end"><span class="sub-text"></span></div>
                                    
                                </div><!-- .nk-tb-item-head ; trackBy: trackList-->
                                <div class="nk-tb-item" *ngFor="let user of users">

                                    <div class="nk-tb-col">
                                        <div class="user-card">
                                            <div class="user-avatar {{user.gender === 'Male' ? 'bg-primary' : 'bg-danger'}}" >
                                                <span>{{user.fullname?user.fullname.charAt(0):''}}</span>
                                            </div>
                                            <div class="user-info">
                                                <span class="tb-lead">{{user.fullname}} 
                                                    <span class="flag-icon flag-icon-{{user.country?user.country.toLowerCase():'us'}} flag-icon-squared"></span>
                                                    <span class="dot dot-success d-md-none ms-1"></span>
                                                </span>
                                                <span>username: {{user.username}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-tb-col tb-col-mb">
                                        <span>{{user.email}}</span>
                                    </div>
                                    <div class="nk-tb-col tb-col-mb">
                                        <span>{{user.empcode}}</span>
                                    </div>
                                    <div class="nk-tb-col tb-col-md">
                                        <span>{{user.mobile}}</span>
                                    </div>
                                    <div class="nk-tb-col tb-col-lg">
                                        <span>{{user.gender}}</span>
                                    </div>
                                    <div class="nk-tb-col tb-col-lg">
                                        <span>{{user.created | date: 'MM/dd/yyyy HH:mm:ss'}}</span>
                                    </div>
                                    <div class="nk-tb-col tb-col-md">
                                        <ng-container [ngSwitch]="user.roles?user.roles[0]:'n/a'">
                                            <ng-container *ngSwitchCase="'admin'">
                                                <span class="tb-status text-danger">Admin</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'user'">
                                                <span class="tb-status text-success">User</span>
                                            </ng-container>
                                            <ng-container *ngSwitchDefault>
                                                <span class="tb-status text-success">User</span>
                                            </ng-container>

                                        </ng-container>
                                        <!-- <span class="tb-status text-success">{{user.roles?user.roles[0]:'n/a'}}</span> -->
                                    </div>
                                    <div class="nk-tb-col nk-tb-col-tools">
                                        <ul class="nk-tb-actions gx-1">
                                            <li class="nk-tb-action-hidden">
                                                <button (click)="triggerModal(modalView, user, 'lg')" 
                                                class="btn btn-trigger- btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="View: {{user.fullname}}">
                                                    <em class="icon ni ni-eye"></em>
                                                </button>
                                            </li>
                                            <li class="nk-tb-action-hidden">
                                                <button (click)="triggerModal(modalData, user, 'lg')" 
                                                class="btn btn-trigger- btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit: {{user.fullname}}">
                                                    <em class="icon ni ni-edit"></em>
                                                </button>
                                            </li>
                                            <li class="nk-tb-action-hidden" *ngIf="user.roles?user.roles[0]==='user':true">
                                                <button (click)="triggerModal(modalDelete, user, 'sm')"
                                                class="btn btn-trigger- btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete: {{user.fullname}}">
                                                    <em class="icon ni ni-trash"></em>
                                                </button>
                                            </li>

                                            
                                        </ul>
                                    </div>
                                </div><!-- .nk-tb-item -->
                                
                                
                            </div><!-- .nk-tb-list -->
                        </div><!-- .card-inner -->
                        <div class="card-inner">
                            <div class="nk-block-between-md g-3">
                                <div class="g">
                                    <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                                        <div>Display</div>
                                        <div>
                                            <select [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange($event)" 
                                            class="form-select js-select2-" data-search="on" data-dropdown="xs center" required>
                                                <option *ngFor="let psize of [10, 20, 50, 100]; " 
                                                [selected]="pageSize == psize" [value]="psize" value="{{psize}}">{{psize}}</option>
                                            </select>
                                        </div>
                                        <div>/ Page</div>
                                    </div>
                                </div>
                                <div class="g">
                                    <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                                        <div>Page</div>
                                        <div>
                                            <select [ngModel]="currentPage" (ngModelChange)="onPageChange($event)" 
                                            class="form-select js-select2-" data-search="on" data-dropdown="xs center" required>
                                                <option *ngFor="let page of [].constructor(totalPages); let i = index" 
                                                [selected]="i == (currentPage-1)" [value]="i+1" value="{{i+1}}">{{i+1}}</option>
                                            </select>
                                        </div>
                                        <div>OF {{totalPages}}</div>
                                    </div>
                                </div><!-- .pagination-goto -->
                            </div><!-- .nk-block-between -->
                        </div><!-- .card-inner -->
                    </div><!-- .card-inner-group -->
                </div><!-- .card -->
            </div><!-- .nk-block -->
        </div>
    </div>
</div>

<ng-template #modalData let-modal >

    <div class="modal-content modal-xl">
        <div class="modal-header">
            <h5 class="modal-title">Edit User</h5>
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <em class="icon ni ni-cross"></em>
            </a>
        </div>
        <div class="modal-body">
            <app-userdata-profile-edit [profileData]="selectedUser" [countryList]="countries.list" [parentModal]="modal"></app-userdata-profile-edit>
        </div>
    </div>
    
</ng-template>

<ng-template #modalCreate let-modal >

    <div class="modal-content modal-xl">
        <div class="modal-header">
            <h5 class="modal-title">Create User</h5>
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <em class="icon ni ni-cross"></em>
            </a>
        </div>
        <div class="modal-body">
            <app-userdata-profile-create [countryList]="countries.list" [parentModal]="modal" [users]="users"></app-userdata-profile-create>
        </div>
    </div>
    
</ng-template>

<ng-template #modalView let-modal >

    <div class="modal-content modal-xl pb-4">
        <div class="modal-header">
            <h5 class="modal-title">User Data</h5>
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <em class="icon ni ni-cross"></em>
            </a>
        </div>
        <div class="modal-body">
            <app-userdata-profile-view [profileData]="selectedUser" [countryList]="countries.list" [parentModal]="modal"></app-userdata-profile-view>
        </div>
    </div>
    
</ng-template>

<ng-template #modalDelete let-modal >

    <div class="modal-lg">
        <div class="modal-body modal-body-md text-center">
            <div class="nk-modal">
                <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
                <h4 class="nk-modal-title">Confirm?</h4>
                <div class="nk-modal-text">
                    <p class="lead">Are you want to delete {{selectedUser.fullname}} ?</p>
                </div>
                <div class="nk-modal-action mt-5">
                    <button (click)="deleteUser(selectedUser);modal.dismiss('Delete click')" class="btn btn-icon btn-danger pe-3 me-3"><em class="icon ni ni-trash"></em>Delete User</button>
                    <button (click)="modal.dismiss('Return click')" class="btn btn-lg- btn-mw btn-light" data-bs-dismiss="modal">Return</button>
                </div>
            </div>
        </div>
    </div>
    
</ng-template>