/* .modal-lg {
    max-width: 90% !important;
    min-width: 1000px !important;
}

.modal-xl {
    max-width: 90% !important;
    min-width: 1000px !important;
} */

/* .modal-content:has(.modal-lg) {
    max-width: 200px !important;
} */