<form class="form-validate" (ngSubmit)="updateProfile()" autocomplete="off">
    <div class="row g-gs">

        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="fv-username">Username</label>
                <div class="form-control-wrap">
                    <input type="text" readonly class="form-control" id="fv-username" name="fv-username" 
                    [(ngModel)]="data.username" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="fv-email">Email address</label>
                <div class="form-control-wrap">
                    <div class="form-icon form-icon-right">
                        <em class="icon ni ni-mail"></em>
                    </div>
                    <input type="text" class="form-control" id="fv-email" name="fv-email" 
                    [(ngModel)]="data.email" required>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="fv-full-name">Full Name</label>
                <div class="form-control-wrap">
                    <input type="text" class="form-control" id="fv-full-name" name="fv-full-name" 
                    [(ngModel)]="data.fullname" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="fv-username">Employee Code</label>
                <div class="form-control-wrap">
                    <input type="text" class="form-control" id="fv-empcode" name="fv-empcode" 
                    [(ngModel)]="data.empcode" required>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="fv-phone">Gender</label>
                <div class="form-control-wrap">
                    <ul class="custom-control-group">
                        <li>
                            <div class="custom-control custom-radio custom-control-pro no-control">
                                <input [(ngModel)]="data.gender" value="Male" type="radio" class="custom-control-input" name="fv-title" id="fv-male" required>
                                <label class="custom-control-label" for="fv-male">Male</label>
                            </div>
                        </li>
                        <li>
                            <div class="custom-control custom-radio custom-control-pro no-control">
                                <input [(ngModel)]="data.gender" type="radio" value="Female" class="custom-control-input" name="fv-title" id="fv-female" required>
                                <label class="custom-control-label" for="fv-female">Female</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Birthday</label>
                <div class="form-control-wrap">
                    <div class="form-icon form-icon-right">
                        <em class="icon ni ni-calendar-alt"></em>
                    </div>
                    <input class="form-control" placeholder="mm/dd/yyyy" (click)="d.open()" name="fv-birthdate" 
                    ngbDatepicker [(ngModel)]="ndBirthDay" #d="ngbDatepicker" [minDate]="{year: 1960, month: 1, day: 1}">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Country</label>
                <div class="form-control-wrap">
                    <ng-select name="fv-country" [(ngModel)]="data.country">
                        <ng-option *ngFor="let country of countryList" [value]="country.code">{{country.name}}</ng-option>
                     </ng-select>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="fv-username">Mobile Number</label>
                <div class="form-control-wrap">
                    <input type="text" class="form-control" id="fv-mobile" name="fv-mobile" 
                    [(ngModel)]="data.mobile" required>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="fv-password">Password</label>
                <div class="form-control-wrap">
                    <div class="form-icon form-icon-right">
                        <em class="icon ni ni-lock"></em>
                    </div>
                    <input type="password" class="form-control" id="fv-password" name="fv-password" 
                    [(ngModel)]="data.password" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="fv-cpassword">Confirm Password</label>
                <div class="form-control-wrap">
                    <div class="form-icon form-icon-right">
                        <em class="icon ni ni-lock"></em>
                    </div>
                    <input type="password" class="form-control" id="fv-cpassword" name="fv-cpassword" 
                    [(ngModel)]="this.cpassword" required>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <input mdbCheckbox class="form-check-input me-1" type="checkbox" name="fv-isadmin" value="" id="flexCheckChecked" 
                [checked]="isadmin" [(ngModel)]="isadmin"
                />
                <label class="form-label" for="flexCheckChecked">Admin</label>
            </div>
        </div>

        <div class="col-md-12" *ngIf="update_error !== ''">
            <div class="form-group" >
                <div class="alert alert-danger alert-icon alert-dismissible">
                    <em class="icon ni ni-alert-circle"></em> <strong>{{update_error}}</strong>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary">Update Informations</button>
            </div>
        </div>
        
    </div>
</form>

<ng-template #modalComplete let-modal >
    <div class="modal-content">
        <div class="modal-body modal-body-lg text-center">
            <div class="nk-modal">
                <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-success"></em>
                <h4 class="nk-modal-title">Update Profile complete!</h4>
                <div class="nk-modal-action">
                    <button type="button" class="btn btn-lg btn-mw btn-primary" (click)="modal.close('Save click')">Close</button>
                </div>
            </div>
        </div><!-- .modal-body -->
    </div>
</ng-template>