<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- wrap @s -->
        <div class="nk-wrap nk-wrap-nosidebar">
            <!-- content @s -->
            <div class="nk-content ">
                <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                    <div class="brand-logo pb-4 text-center">
                        
                    </div>
                    <div class="card card-bordered">
                        <div class="card-inner card-inner-lg">
                            <div class="nk-block-head">
                                <div class="nk-block-head-content">
                                    <h4 class="nk-block-title">Sign-In</h4>
                                    <div class="nk-block-des">
                                        <p>Access the System panel using your username and password.</p>
                                    </div>
                                </div>
                            </div>
                            <form (ngSubmit)="signin()" autocomplete="off">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="form-label" for="default-01">Username</label>
                                    </div>
                                    <div class="form-control-wrap">
                                        <input required type="text" class="form-control form-control-lg" id="username" name="username"
                                        [(ngModel)]="auth.username" placeholder="Enter your username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="form-label" for="password">Password</label>
                                    </div>
                                    <div class="form-control-wrap">
                                        <input required type="password" class="form-control form-control-lg" name="password" id="password" [(ngModel)]="auth.password" placeholder="Enter your password">
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="signin_error !== ''">
                                    <div class="alert alert-danger alert-icon alert-dismissible">
                                        <em class="icon ni ni-cross-circle"></em> <strong>{{signin_error}}</strong>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
                                </div>
                            </form>
                            <div class="form-note-s2 text-center pt-4"> New on our platform? <a href="/signup">Register</a>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
            <!-- wrap @e -->
        </div>
        <!-- content @e -->
    </div>
    <!-- main @e -->
</div>