<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between g-3">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Users / <strong class="text-primary small">{{profileData.fullname}}</strong></h3>
                        <div class="nk-block-des text-soft">
                            <ul class="list-inline">
                                <li>Username: <span class="text-base">{{profileData.username}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nk-block-head-content">
                        <button (click)="triggerModal(modalData)" class="btn btn-lg- btn-icon btn-primary btn-block pe-2" type="button"><em class="icon ni ni-edit"></em>Edit</button>
                    </div>
                </div>
            </div><!-- .nk-block-head -->
            <div class="nk-block">
                <div class="card card-bordered">
                    <div class="card-aside-wrap">
                        <div class="card-content">
                            <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                                <li class="nav-item">
                                    <a class="nav-link active" href="javascript:void(0)"><em class="icon ni ni-user-circle"></em><span>Personal</span></a>
                                </li>
                            </ul><!-- .nav-tabs -->

                            <div class="card-inner">
                                <div class="nk-block">
                                    <div class="nk-block-head">
                                        <h5 class="title">Personal Information</h5>
                                    </div><!-- .nk-block-head -->
                                    <div class="profile-ud-list">
                                        <div class="profile-ud-item">
                                            <div class="profile-ud wider">
                                                <span class="profile-ud-label">Full Name</span>
                                                <span class="profile-ud-value">{{profileData.fullname}}</span>
                                            </div>
                                        </div>
                                        <div class="profile-ud-item">
                                            <div class="profile-ud wider">
                                                <span class="profile-ud-label">Employee Code</span>
                                                <span class="profile-ud-value">{{profileData.empcode}}</span>
                                            </div>
                                        </div>
                                        
                                        <div class="profile-ud-item">
                                            <div class="profile-ud wider">
                                                <span class="profile-ud-label">Date of Birth</span>
                                                <span class="profile-ud-value">{{birthDate | date: 'MM/dd/yyyy'}}</span>
                                            </div>
                                        </div>
                                        <div class="profile-ud-item">
                                            <div class="profile-ud wider">
                                                <span class="profile-ud-label">Gender</span>
                                                <span class="profile-ud-value">{{profileData.gender}}</span>
                                            </div>
                                        </div>
                                        <div class="profile-ud-item">
                                            <div class="profile-ud wider">
                                                <span class="profile-ud-label">Mobile Number</span>
                                                <span class="profile-ud-value">{{profileData.mobile}}</span>
                                            </div>
                                        </div>
                                        <div class="profile-ud-item">
                                            <div class="profile-ud wider">
                                                <span class="profile-ud-label">Email Address</span>
                                                <span class="profile-ud-value">{{profileData.email}}</span>
                                            </div>
                                        </div>
                                    </div><!-- .profile-ud-list -->
                                </div><!-- .nk-block -->
                                <div class="nk-block">
                                    <div class="nk-block-head nk-block-head-line">
                                        <h6 class="title overline-title text-base">Additional Information</h6>
                                    </div><!-- .nk-block-head -->
                                    <div class="profile-ud-list">
                                        <div class="profile-ud-item">
                                            <div class="profile-ud wider">
                                                <span class="profile-ud-label">Joining Date</span>
                                                <span class="profile-ud-value">{{profileData.created | date: 'MM/dd/yyyy'}}</span>
                                            </div>
                                        </div>
                                        <div class="profile-ud-item">
                                            <div class="profile-ud wider">
                                                <span class="profile-ud-label">Country</span>
                                                <span class="profile-ud-value">
                                                    <span class="flag-icon flag-icon-{{profileData.country?profileData.country.toLowerCase():'us'}} flag-icon-squared me-1"></span> {{countryName}}
                                                </span>
                                                
                                            </div>
                                        </div>
                                    </div><!-- .profile-ud-list -->
                                </div><!-- .nk-block -->
                                
                            </div><!-- .card-inner -->
                        </div><!-- .card-content -->


                        <div class="card-aside card-aside-right user-aside toggle-slide toggle-slide-right toggle-break-xxl" style="min-height: 300px !important;" data-content="userAside" data-toggle-screen="xxl" data-toggle-overlay="true" data-toggle-body="true">
                            <div class="card-inner-group" data-simplebar>

                                <div class="card-inner">
                                    <div class="user-card user-card-s2">
                                        <div class="user-avatar lg bg-primary">
                                            <span><span>{{profileData.fullname?profileData.fullname.charAt(0):''}}</span></span>
                                        </div>
                                        <div class="user-info">
                                            <div class="badge bg-outline-light rounded-pill ucap">{{profileData.roles?profileData.roles[0]:'55'}}</div>
                                            <h5>{{profileData.fullname}}</h5>
                                            <span class="sub-text">{{profileData.email}}</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div><!-- .card-inner -->
                        </div><!-- .card-aside -->
                    </div><!-- .card-aside-wrap -->
                </div><!-- .card -->
            </div><!-- .nk-block -->
        </div>
    </div>
</div>


<ng-template #modalData let-modal >

    <div class="modal-content modal-lg">
        <div class="modal-header">
            <h5 class="modal-title">Edit Profile Data</h5>
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <em class="icon ni ni-cross"></em>
            </a>
        </div>
        <div class="modal-body">
            <app-userdata-profile-edit [profileData]="profileData" [countryList]="countries.list" [parentModal]="modal" [reloadProfile]="reloadProfile"></app-userdata-profile-edit>
        </div>
    </div>
    
</ng-template>